.top {
  width: 100%;
  height: 100%;
  background-color: #1c335e; /* Cambié el color de fondo */

  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: Bookman, 'URW Bookman L', serif; /* Ajusté la sintaxis de la fuente */
  color: #ffffff; /* Color de texto blanco */
}

.topLeft{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-align: center; /* Añadí alineación horizontal */
}

.topListItem:hover {
    color: gray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: 'MiFuenteElegante', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

.topLogoutButton {
  background-color: #131c2e;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'MiFuenteElegante', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 0px;
}

.topLogoutButton:hover {
  background-color: #04292a;
  color: white;
}

.centeredItems {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3px;
}
.topRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}
ul li {
  margin-right: 0px;
}

.topListItemTu{
  padding-left: 3px;
  padding-right: 15px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}